" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" NerdTree plugin
Plug 'preservim/nerdtree'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
set guicursor = " "
set scrolloff = 8
set number
set relativenumber
set shortmess-=S
let mapleader = " "
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab
set smartindent
set hlsearch
set ignorecase
set smartcase

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

" NerdTree settings
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
" sometimes not working if :NerdTree isn't run before, solve this
nmap <leader>e :NerdTreeToggle<CR>

"nvim like searching mappings
nnoremap <leader>ff :action SearchEverywhere<CR>
nnoremap <leader>sg :action FindInPath<CR>
imap jj <Esc>

vmap J :m '>+1<CR>gv=gv
vmap K :m '>-2<CR>gv=gv
